<footer>
    <p>made with love by Team Misfits</p>
    <ul> 
        <li><a href="https://github.com/Jaguirre123">JA</a></li>
        <li><a href="https://github.com/mhsjarif">TS</a></li>
        <li><a href="https://github.com/jonegarm2">JG</a></li>
        <li><a href="https://github.com/jcmahan">JM</a></li>
    </ul>
</footer>
