body {
  padding: 50px;
  font: 14px "Josefin Sans", Helvetica, Arial, sans-serif;
  background: #062F4F;
}

a {
  color: #062F4F; 
}

h1 {
  margin-top: 5px; 
}
h2 {
  margin-top: 5px;
}

h3 {
  margin-top: 10px;
}

hr {
  background-color: black;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* =======
HEADER
========= */
nav {
  border: 1px solid white;
  box-shadow: 0 0 10px white;
}
#nav-btn {
  color: white;
}

#nav-btn:hover {
 color: #813772;
 border: 1px solid #813772;
}

#our-logo {
  font-family: 'Bangers', cursive;
  font-size: 28px;
  letter-spacing: 2px;
}

.uFlick {
  border: 1px solid white;
}

.nav-link {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.nav-link:hover {
  color: white !important;
}

.favesRec {
  margin-top: 4%;
}

.google {
  font-size: 20px;
}

.googleOne {
  font-size: 20px;
  color: #007bff;
}

.googleOne:hover {
  color: white;
}

@media (max-width: 800px) {
  nav .favesRec {
    padding-left: 10px;
  }

  .favesRec:hover {
    background-color: rgba(130, 130, 130, 0.8);
    border-radius: 15px;
  }

  .dropdown:hover {
    background-color: rgba(130, 130, 130, 0.8);
    border-radius: 15px;
  }

  .uFlick {
    margin-left: 10px;
  }

}
/* =======
FOOTER
========= */

footer {
  /* display: inline-flex; */
  text-align: center;
  background-color: #353A3F;
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 10px white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  padding: 10px 10px;
}

.team {
  color: white;
  font-family: 'Bangers', cursive;
  font-size: 25px;
}

.team:hover {
  color: #062F4F;
  text-decoration: underline;
  -webkit-text-stroke: 1px white;
}

footer > ul {
  list-style: none;
  display: inline-flex;
}

footer > ul li {
  padding: 0 10px 0 10px;
}

/* =======
CAROUSEL
========= */

.carousel {
  background: linear-gradient(black, #062F4F, black);
  border-radius: 20px;
  border: 3px inset grey;
  box-shadow: 0 4px 5px black;
  margin: 25px auto;
}

.carousel-inner {
  position: relative;
  width: 40%;
  overflow: hidden;
  margin: 0 auto;
  text-align:center;
  height: auto;
  display: block;
}

.caroImg {
  height: 500px;
  border-radius: 20px;
}

.d-none {
  display: block !important;
}

/* =======
MOVIES INDEX
========= */

.mainH {
  font-family: 'Abril Fatface', cursive;
  margin: 25px auto;
}

.card {
  box-shadow: 0 4px 5px black;
}

.card-text {
  font-family:  'Josefin Sans', sans-serif;
}

@media (max-width: 900px) {
  .carousel-inner {
    width: 100%;
  }
}

/* =======
MOVIES SHOW
========= */
.container-fluid {
  background-color: white;
  margin: 25px auto;
  border: 3px inset black;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
}

.col-sm-9 {
  max-width: 100% !important;
}

.btn-block {
  width: 25% !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

.movieNameRate {
  display: inline-flex;
  color: black;
}

.movieNameRate > h3{
  margin-top: 2%;
}

.movie {
  border-radius: 20px;
  width: 25%;
  height: 390px;
  border: 2px inset grey;
  box-shadow: 0 0 10px black;
}

.movieReview {
  display: block;
  position: relative;
}

.overView {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 25px;
  color: black;
  font-size: 20px;
}

.maininfo {
  display: inline-flex;
}

#accordion {
  width: 95% !important;
  margin: 0 auto;
}

.comments {
  border-top: 1px solid black;
  padding: 10px;
}

.cPic {
  border: 1px inset grey;
  box-shadow: 0 0 10px black;
  margin: 5% 0 10% 0;
}

.commentsUser {
  border-right: 1px solid black;
}

.commentP {
  font-size: 15px;
  word-wrap: break-word;
  line-height: 1.5;
}


@media (max-width: 800px) {
  .movieReview {
    display: block !important;
    text-align: center;
  }

  .movie {
    width: 100%;
    height: 500px;
  }

  .maininfo {
    display: block;
  }

  .overView {
    display: block;
    margin: 35px auto;
  }

  .btn-block {
    width: 100% !important;
  }

  #accordion {
    width: 100% !important;
    margin: 0 auto;
  }

  .commentsUser {
    border: none;
    text-align: center;
  }
}

@media (max-width: 700px) {

  .movieNameRate > h1 {
    display: inline-flex;
    text-align: center;
    margin: 10px auto;
    font-size: 25px !important;
  }

  .movieReview {
    display: block !important;
  }

  .movie {
    width: 100%;
  }

  .overView {
    display: block;
    margin: 35px auto;
  }

  .comments {
    text-align: center;
  }

}

/* =======
USERS SHOW
========= */

.sidenav {
  border-right: 1px solid black;
}

.userAvatar {
  width: 100%;
  border-radius: 50%;
  margin: 18px auto;
  border: 2px inset #062F4F;
}

.oUFlicks {
  margin: 10px 10px -45px 10px;
  border: 2px solid black;
  box-shadow: 0 0 10px black;
  height: 100px;
  width: 100px;
}

/* =======
REC SHOW
========= */

.small-movie {
  width: 75%;
}

.recCards {
  display: inline !important;
}

.recCards > small {
  float: right;
}

/* =======
RESULTS.EJS 
========= */
.noImgAv {
  height: 620px;
  width:100%;
}

@media (max-width: 1350px) {
  .noImgAv {
    height: 550px;
  }
}

@media (max-width: 1250px) {
  .noImgAv {
    height: 515px;
  }
}
@media (max-width: 1150px) {
  .noImgAv {
    height: 420px;
  }
}
@media (max-width: 1000px) {
  .noImgAv {
    height: 380px;
  }
}