body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #062F4F;
  /* background: linear-gradient(to bottom right, #062F4F, white); */
}

a {
  color: #00B7FF;
}

hr {
  background-color: black;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* =======
HEADER
========= */

#our-logo {
  font-family: 'Bangers', cursive;
  font-size: 28px;
  letter-spacing: 2px;
}


/* =======
FOOTER
========= */

footer {
  /* display: inline-flex; */
  text-align: center;
  background-color: lightgrey;
}

.team {
  color: black ;
}

.team:hover {
  color: white;
  text-decoration: underline;
}

footer > ul {
  list-style: none;
  display: inline-flex;
}

footer > ul li {
  padding: 0 10px 0 10px;
}

/* =======
CAROUSEL
========= */

.carousel {
  background: linear-gradient(black, #062F4F, black);
  border-radius: 20px;
  border: 3px inset grey;
  box-shadow: 0 4px 5px black;
  margin: 25px auto;
}

.carousel-inner {
  position: relative;
  width: 40%;
  overflow: hidden;
  margin: 0 auto;
  text-align:center;
  height: auto;
  display: block;
}

.caroImg {
  height: 500px;
  border-radius: 20px;
}

.d-none {
  display: block !important;
}

/* =======
MOVIES INDEX
========= */

.mainH {
  font-family: 'Abril Fatface', cursive;
  margin: 25px auto;
}

.card {
  box-shadow: 0 4px 5px black;
}

.card-text {
  font-family:  'Cinzel', serif;
}

@media (max-width: 900px) {
  .carousel-inner {
    width: 100%;
  }
}

/* =======
MOVIES SHOW
========= */
.container-fluid {
  /* width: 85% !important; */
  background-color: white;
  margin: 25px auto;
  border: 3px inset black;
  border-radius: 10px;
}

.col-sm-9 {
  max-width: 100% !important;
}

.btn-block {
  width: 25% !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

.movieNameRate {
  display: inline-flex;
  color: black;
}

.movie {
  border-radius: 20px;
  width: 25%;
  height: 390px;
  border: 2px inset grey;
  box-shadow: 0 0 10px black;
}

.movieReview {
  display: block;
  position: relative;
}

.overView {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 25px;
  color: black;
  font-size: 20px;
}

.maininfo {
  display: inline-flex;
}

#accordion {
  width: 95% !important;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .movieReview {
    display: block !important;
    text-align: center;
   }

   .movie {
    width: 100%;
    height: 500px;
  }

  .maininfo {
    display: block;
  }

  .overView {
    display: block;
    margin: 35px auto;
  }

  .btn-block {
    width: 100% !important;
  }

  #accordion {
    width: 100% !important;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {

  .movieNameRate > h1 {
    display: inline-flex;
    text-align: center;
    margin: 10px auto;
    font-size: 25px !important;
  }

  .movieReview {
   display: block !important;
  }

  .movie {
    width: 100%;
  }

  .overView {
    display: block;
    margin: 35px auto;
  }

}

/* =======
USERS SHOW
========= */

.sidenav {
  border-right: 1px solid black;
}

.userAvatar {
  width: 100%;
  border-radius: 50%;
  margin: 18px auto;
  border: 2px inset #062F4F;
}