body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
  /* display: inline-flex; */
  text-align: center;
  background-color: lightgrey;
}

.team {
  color: black ;
}

.team:hover {
  color: white;
  text-decoration: underline;
}

footer > ul {
  list-style: none;
  display: inline-flex;
}

footer > ul li {
  padding: 0 10px 0 10px;
}