body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(to right, rgba(255,0,0,0), rgb(135, 0, 0));}

a {
  color: #00B7FF;
}

footer {
  /* display: inline-flex; */
  text-align: center;
  background-color: lightgrey;
}

.team {
  color: black ;
}

.team:hover {
  color: white;
  text-decoration: underline;
}

footer > ul {
  list-style: none;
  display: inline-flex;
}

footer > ul li {
  padding: 0 10px 0 10px;
}

.carousel {
  background: linear-gradient(#062F4F, #B82601);
  border-radius: 20px;
  border: 3px inset grey;
  box-shadow: 0 4px 5px black;
  margin: 25px auto;
}

.carousel-inner {
  position: relative;
  width: 40%;
  overflow: hidden;
  margin: 0 auto;
  text-align:center;
  height: auto;
  display: block;
}

.caroImg {
  height: 500px;
  border-radius: 20px;
}

.d-none {
  display: block !important;
}

.mainH {
  font-family: 'Abril Fatface', cursive;
  margin: 25px auto;
}

.card {
  box-shadow: 0 4px 5px black;
}

.card-text {
  font-family:  'Cinzel', serif;
}

@media (max-width: 900px) {
  .carousel-inner {
    width: 100%;
  }
}